<!DOCTYPE html>
{% extends 'first_app/layout.html' %}
{% load staticfiles %}
{% block body_block %}

 <div class="jumbotron">
   <div class="container">
     <br />
     <br />
     <br />
     <h1>Code Your Trade</h1>
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <p><strong>Risk</strong> comes from not knowing what you’re doing</p>
     <p><a class="btn btn-danger btn-lg" href="#" role="button">Learn more &raquo;</a></p>
     <img src="{% static 'images/code.png' %}" title="code.org logo" alt="code.org">
   </div>
 </div>

 <div id="who">
   <div class="container homepage">
     <img src="{% static 'images/massiveacademylogo.png' %}" alt="Massive academy" title="Massive academy">
   <h2>WHO WE ARE</h2>
   <hr>
   <p>If you want to have a better performance than the crowd, you must do things <strong>differently</strong> from the crowd</p>
   </div>
 </div>

 <div id="Get-Involved">
 <div class="container homepage">
   <!-- Example row of columns -->
   <h2>Get Involved</h2>
   <hr>
   <div class="row">
     <div class="col-md-4">
       <span class="fa-stack fa-4x">
       <i class="fas fa-circle fa-stack-2x"></i>
       <i class="fas fa-user fa-stack-1x fa-inverse"></i>
       </span>
       <h3>STUDENTS</h3>
       <p>Want to learn how to code your trades? Click the button below to submit a join request and we'll let you know how to get involved. </p>
       <p><a class="btn btn-default" href="https://docs.google.com/forms/d/e/1FAIpQLSclayD956qUgYsm1LJPlnX2m21ZzJ2N0gvpS-_znNqZwYxF_A/viewform?usp=sf_link" role="button">Start Learning &raquo;</a></p>
     </div>
     <div class="col-md-4">
       <span class="fa-stack fa-4x">
       <i class="fas fa-circle fa-stack-2x"></i>
       <i class="far fa-edit fa-stack-1x fa-inverse"></i>
       </span>
       <h3>EDUCATORS</h3>
       <p>Want to bring this initiative to your school or institution? Awesome! Click the button below and we'll make it happen. </p>
       <p><a class="btn btn-default" href="#" role="button">Join the initiative &raquo;</a></p>
    </div>
     <div class="col-md-4">
       <span class="fa-stack fa-4x">
       <i class="fas fa-circle fa-stack-2x"></i>
       <i class="fas fa-dollar-sign fa-stack-1x fa-inverse"></i>
       </span>
       <h3>SPONSORS</h3>
       <p>We love all the support we get to help host more events, and empower more lives with the knowledge of coding. Click to get involved.</p>
       <p><a class="btn btn-default" href="#" role="button">Give Support &raquo;</a></p>
     </div>
   </div>
 </div>
</div>

<footer>
    <div class="container">
    </div>
</footer>
{% endblock%}
