<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Webpages</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
  <body>
    <h1>Hi, Here are the available websites</h1>
    {% if webPages %}
    <table>
      <thead>
        <tr>
          <th>Topic</th>
          <th>Name</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>
        {% for webpage in webPages %}
          <tr>
            <td>{{webpage.topic}}</td>
            <td>{{webpage.name}}</td>
            <td>{{webpage.url}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>WEBSITES NOT FOUND</p>
    {% endif %}
  </body>
</html>
