<!DOCTYPE html>
{% extends 'first_app/layout.html' %}
{% block body_block %}

    <div class="row" style="margin-top:100px;">
        <div class="col-md-12">
          <section>
              <form method="post" class="form-horizontal">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="url" class="col-md-3 control-label">OPTION CHAIN URL: </label>
                        <div class="col-md-6">
                            <input class="form-control" type="text" name="url" placeholder="Enter url">
                        </div>
                        <div class="col-md-3">
                            <input type="submit" value="GET" class="btn btn-default" />
                        </div>
                    </div>
              </form>

          </section>
      </div>
  </div>
  <div class = "container">
    <h3>Data: </h3>
    <!-- {% autoescape off %} -->
      {{optionchain|safe}}
    <!-- {% endautoescape %} -->

  </div>

{% endblock%}
